version: "3.8"

services:
  tudo_server:
    image: ghcr.io/cachapa/tudo_server:latest
    environment:
      TUDO_SERVER_DB: tudo
      TUDO_SERVER_DB_HOST: database
      TUDO_SERVER_DB_USERNAME: tudo
      TUDO_SERVER_DB_PASSWORD: tudo
    depends_on:
      - database
    ports:
      - 8080:8080
    restart: always

  database:
    image: postgres:14-alpine@sha256:28407a9961e76f2d285dc6991e8e48893503cc3836a4755bbc2d40bcc272a441
    environment:
      POSTGRES_PASSWORD: tudo
      POSTGRES_USER: tudo
      POSTGRES_DB: tudo
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata: