name: Deploy

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

concurrency:
  group: "deploy"
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Load deploy key
        run: |
          mkdir ~/.ssh
          echo "${{ secrets.CONFIG }}" > ~/.ssh/config
          echo "${{ secrets.KNOWN_HOSTS }}" > ~/.ssh/known_hosts
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
      - name: Checkout
        run: ssh server 'git clone git@github.com:cachapa/tudo_server.git'
      - name: Get dependencies
        run: ssh server '/opt/dart-sdk/bin/dart pub get -C tudo_server'
      - name: Build binary
        run: ssh server '/opt/dart-sdk/bin/dart compile exe tudo_server/bin/main.dart -o tudo-server.new'
      - name: Stop service
        run: ssh server 'systemctl --user stop tudo'
      - name: Replace binary
        run: ssh server 'mv tudo-server.new tudo-server'
      - name: Start service
        run: ssh server 'systemctl --user start tudo'
      - name: Cleanup
        run: ssh server 'rm -fr tudo_server'
